## Testing K_mer

In [36]:
from si.read_csv import read_csv
dataset= read_csv("/Users/André Silva/SI/datasets/tfbs.csv")
from si.feature_selection.k_mer import KMer

In [37]:
dataset.to_dataframe()

                                               sequence  label
0     CCGAGGGCTATGGTTTGGAAGTTAGAACCCTGGGGCTTCTCGCGGA...      0
1     GAGTTTATATGGCGCGAGCCTAGTGGTTTTTGTACTTGTTTGTCGC...      0
2     GATCAGTAGGGAAACAAACAGAGGGCCCAGCCACATCTAGCAGGTA...      0
3     GTCCACGACCGAACTCCCACCTTGACCGCAGAGGTACCACCAGAGC...      1
4     GGCGACCGAACTCCAACTAGAACCTGCATAACTGGCCTGGGAGATA...      1
...                                                 ...    ...
1995  GTCGCGCGGGTGCGGAGGATGAGTCGCAGACGCATTTATGTCGCCC...      0
1996  GTTCGCAGCGTATTGAGTAATGTTTGACTCGACCGAACTCCATATT...      1
1997  ACTCGCTGTCCACGTCTATTCCTAGGGGTTTTATTTCGCAAGGTGA...      0
1998  TGCAAAGGGGCGACCGAACTCCCTTTACCGCGGAGTTATTCATAAT...      1
1999  AATGTCGACCGAACTCCGCACTGCTGGCCCGGGCCTATATCGAGAG...      1

[2000 rows x 2 columns]

In [24]:
dataset.y

array([0, 0, 0, ..., 0, 1, 1], dtype=int64)

In [38]:
from si.read_csv import read_csv
dataset= read_csv("/Users/André Silva/SI/datasets/transporters.csv")
from si.feature_selection.k_mer import KMer

In [34]:
dataset.to_dataframe()

                                               Sequence  label
0     MKKTLIALSVSAAAMATGVNAAELYNQDGTSLEMGGRAEARLSMKD...      1
1     MRIGVYVCHCGLNIAGVIDVSALEEMAGELEDVVLAREVQFLCSDS...      0
2     MELKNKKLSLWEAVSMAVGVMIGASIFSIFGVGAKIAGRNLPETFI...      1
3     MHLPSLSVALALVSSSLALPQAVLPENDVSSRAAAVKEAFSHAWDG...      0
4     MEELVGLREGFSGDPVTLQELWGPCPHIRRAIQGGLEWLKQKVFRL...      0
...                                                 ...    ...
2006  MKIKDALIKAYSVLKETNDEFYMEDSQILLSYVLKKDRIFLITNRE...      0
2007  MSIATIVPENAVIGQAVNIRSMETDIVSLDDRLLQAFSGSAIATAV...      1
2008  MTAYIQRSQCISTSLLVVLTTLVSCQIPRDRLSNIGVIVDEGKSLK...      1
2009  MTEASEINLSDIKGPIDVNTPITNHRTALIQNYSTKPKLTYQTVFG...      1
2010  MIKVRFAPSPTGYIHIGNIRIALFNWLYAQAHNGTFILRYDNTDVE...      0

[2011 rows x 2 columns]

In [39]:
dataset.shape()

(2011, 1)